.nav {
	grid-area: nav; 
	background-color: blueviolet;
  }

  .item a {
	color: white; 
  text-decoration: none;
  }

  .item a:hover {
    color: orange; 
  }

.navActiveLink {
  background-color: #007bff;
  color: red;
  font-weight: bold;
  }

 